/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div#root {
   width: 40%;
   margin: auto;
 }

 .signup-input {
   /* position: relative; */
   margin-top: 10px;
   margin-left: auto;
   padding: 12px;
   height: 22px;
   width: 140%;
   font-size: 14px;
 }

 .header-link {
   cursor: pointer;
   color: #f05537;
   text-decoration: none;
 }

 .signup-form-box {
   /* top: 50%; */
   position: absolute;
 }
 .signup-form-container {
   float: left;
   display: flex;
   position: absolute;
   top: 20%;
   transform: translate(0, -50%);
 }

 .signup-errors {
    bottom: 100px;
    color: #C5162E;
   position: relative;
 }

 .signin-errors {
   bottom: 100px;
   position: relative;
 }
 .signup-form {
   display: flex;
   flex-wrap: wrap;
   width: 300px;
 }

 .nav-login {
   position: relative;
   top: 15px;
   color: #3659E3;
   text-decoration: none;
   font: 14px "Neue Plak";
 }

 .verybrite-header-login {
   color: #f05537;
 }
 .signin-form-container {
   position: absolute;
   top: 30%;
   transform: translate(0, -50%);
  
 }

 .signin-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
 }


 .signin-input {
   margin-top: 10px;
   margin-left: auto;
   padding: 12px;
   height: 22px;
   width: 140%;
   font-size: 14px;
 }

 .session-submit {
  margin-top: 10px;
  /* margin-left: 30px; */
  /* justify-content: stretch; */
  /* vertical-align: center; */
  width: 90%;
  background-color: #D1410C;
  padding: 0px 30px 1px;
  height: 40px;
  font: 14px;
  color: white;
 }

 .session-submit:hover {
  cursor: pointer;
  opacity: .8;
 }

 .signin-input .inner-text {
  position: absolute;
  width: 100%;
 }

 .nav-signup {
   position: relative;
   top: 15px;
   color: #3659E3;
   text-decoration: none;
   font: 14px "Neue Plak";
 }

 