/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



//  div#root {
//   //  width: 100%;
//    margin: auto;
//  }
@import 'signin-signup';
@import 'index';




  html {
    background-color: rgba(240, 240, 240, 0.918);
    // background-color: white;
  }
  html, body, #root, .app, .app>div {
  height: 100%;
  font-family: "Neue Plak",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
}

  .header-group .app {
    background-color: rgba(240, 240, 240, 0.918);
  }

 .header-group {
   background-color: white;
   height: 72px;
   width: auto;
   display: flex;
   justify-content: space-between;
   background-color: white;
   color: #f05537;
   font: 20px "Neue Plak";

   .header-name {
     align-self: center;
   }

    .nav-verybrite {
      position: relative;
      left: 20px;
      align-self: center;
      font-weight: 700;
      font-size: 25px;
      font: "Neue Plak";
    }
    .header-button-container {
      background-color: white;
      display: flex;
      align-items: center;
      .header-button {
        
        padding-right: 20px;
        padding-left: 20px;
        text-decoration: none;
        color: #39364F;
        font: 16px "Neue Plak";
      }
    }

    .header-button-container:hover {
      background-color: rgba(0, 0, 0, 0.03);

    }


    .right-nav-bar {
      display: flex;
      height: 100%;
      align-items: center;
      .create-container {
        background-color: white;
        height: 100%;
        display: flex;
        align-items: center;
        a.create{
          color: blue;
          align-items: center;
          text-decoration: none;
          padding-right: 15px;
          padding-left: 15px;
        }
    
      }
      .create-container:hover {
        background-color: rgba(0, 0, 0, 0.03);
        cursor: pointer;
      }
      
      .tickets-container {
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: white;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.03);
      }
        a.tickets {
          color: #39364F;
          padding-left: 15px;
          padding-right: 15px;
          text-decoration: none;
        }
    }
    .likes-container {
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: white;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.03);
      }
        a.likes {
          color: #39364F;
          padding-left: 15px;
          padding-right: 15px;
          text-decoration: none;
        }
    }

        

      
    }
    .nav-dropdown {
      position: relative;
      display: inline-block;
      height: 100%;
      .nav-email {
        height: 100%;
        color: #f05537;
        text-decoration: none;
        background-color: white;
        border: none;
      }
      .dropdown-content {
        background-color: white;
        display: none;
        position: relative;
        right: 70%;
        z-index: 1;
        color:rgba(0, 0, 0, 0.1);
        width: 130%;
      
        min-width: 10px;
        }
        
      .dropdown-content button {
        position: relative;
        width: 130%;
        min-height: 30px;
        height: 100%;
        text-decoration: none;
        display: block;
        background-color: white;
        border: none;
      }

     
      .dropdown-content button:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
        cursor: pointer;
        .nav-email {
          background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
          cursor: pointer;
        }
      }

      .nav-email:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
        cursor: pointer;
      }
      
    }
    .nav-dropdown:hover .dropdown-content{
      display: block;
      background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
      cursor: pointer;
    }

    .nav-verybrite {
      text-decoration: none;
      color: #f05537;
    }
    
 }

 
 .header-link {
   cursor: pointer;
   color: #f05537;
   text-decoration: none;
   font-size: 40px;
   font-weight: bold;
   
 }


 .nav-login {
   position: relative;
   top: 15px;
   color: #3659E3;
   text-decoration: none;
   font: 14px "Neue Plak";
 }

 .nav-signup {
   position: relative;
   top: 15px;
 }

 