.edit-form-container {
  
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 7%;
  
  .edit-form {

    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    .event-edit-details {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      .basic-info-container-edit, .category-container-edit, .description-container-edit{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100%;
      .split-left-title, .split-left-category, .split-left-description{
        background-color: white;
        padding-top: 15px;
        padding-right: 30px;
        color: #d2d2d2;
      }
      .split-right-title, .split-right-category, .split-right-description{
          position: relative;
          background-color: white;
          display: flex;
          flex-direction: column;
          width: 80%;
          min-width: 400px;
          .input-wrapper {
            background-color: white;
            input {
              min-width: 410px;
              font-family: "Neue Plak";
              font-size: 20px;
              border: 1px solid lightgrey;
              border-radius: 4px; 
              border-radius: 4px;
              text-align: center;
              line-height: 3;
              margin-bottom: 10px;
              &:hover {
                cursor: pointer;
                border: 1px solid grey;
              }
            }
          }
          h3 {
            margin-bottom: 10px;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            font-family: "Neue Plak";
            font-size: 30px;
            font-weight: bold;
          }
          p {
            margin-bottom: 10px;
          }
          label {
            font-size: 12px;
            font-weight: 400;
            color: #6f7287;
            position: absolute;
            margin-top: 5px;
            margin-left: 5px;
            left: 5px;
            span {
              margin-left: 1px;
              color:red;
            }
          }
          
          select {
            border: 1px solid lightgrey;
            border-radius: 4px; 
            font-family: "Neue Plak";
            font-size: 20px;
            text-align: center;
            line-height: 3;
            margin-bottom: 5%;
            height: 60px;
            &:hover {
              cursor: pointer;
              border: 1px solid grey;
            }
          }
          .description-label {
            position: absolute;
            margin-top: 5px;
            margin-left: 5px;
            span {
              margin-left: 1px;
              color:red;
            }
          }
          textarea {
            padding: 20px;
            resize: none;
            border: 1px solid lightgrey;
            border-radius: 4px; 
            min-height: 200px;
            max-height: 700px;
            width: 100%;
            &:hover {
              cursor: pointer;
              border: 1px solid grey;
            }
          }
          div {
            background-color: white;
            color: red;
            position: relative;
            font-size: 13px;
            font-weight: 300;
            left: 5px;
            &.title-errors p{

              position: relative;
              bottom: 8px;
              font-size: 13px;
              font-weight: 300;
              left: 5px;
            }
            &.category-errors {
              position: relative;
              bottom: 12px;
              font-size: 13px;
              font-weight: 300;
              left: 5px;
            }
          }
        }
      }

      div.description-container {
        background-color: white;
        .description-errors {
          color: red;
          position: relative;
          bottom: 17px;
          font-size: 13px;
          font-weight: 300;
          left: 5px;
        }
      }
      div.date-container-edit {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100%;
        div.split-left-edit {
          background-color: white;
          color: #d2d2d2;
          padding-top: 15px;
          padding-right: 30px;
        }
        .split-right-start-date {
          position: relative;
          background-color: white;
          display: flex;
          flex-direction: column;
          width: 80%;
          min-width: 420px;
          .input-wrapper {
            background-color: white;
            input {
              width: 100%;
              font-family: "Neue Plak";
              font-size: 20px;
              border: 1px solid lightgrey;
              border-radius: 4px;
              text-align: center;
              line-height: 3;
              margin-bottom: 5%;
            &:hover {
              cursor: pointer;
              border: 1px solid grey;
            }
          }
          }
          p {
            margin-bottom: 5px;
          }
          h3 {
            margin-bottom: 10px;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            font-family: "Neue Plak";
            font-size: 30px;
            font-weight: bold;
          }
          
          label.event-start-label {
            font-size: 12px;
            font-weight: 400;
            color: #6f7287;
    
            position: absolute;
            margin-top: 5px;
            margin-left: 5px;
            left: 5px;
            span {
              margin-left: 1px;
              color:red;
            }
          }

          label.event-end-label {
            font-size: 12px;
            font-weight: 400;
            color: #6f7287;
            position: absolute;
            margin-top: 5px;
            margin-left: 5px;
            left: 5px;
            span {
              margin-left: 1px;
              color:red;
            }
          }

          
        }
        .date-errors {
          color: red;
          position: relative;
          bottom: 17px;
          font-size: 13px;
          font-weight: 300;
          left: 5px;
        }
        }
      button {
        border-radius: 4px; 
        color: lightcoral;
        background-color: white;
        width: 30%;
        line-height: 3;
      }
      button:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
      }
    }

  }
}

// .edit-form-container {
  
//   background-color: rgba(240, 240, 240, 0.966);

//   display: flex;
//   justify-content: center;
//   padding: 7%;
  
//   .edit-form {

//     background-color: rgba(240, 240, 240, 0.966);
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: left;

//     .event-edit-details {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: space-between;
//       width: 60%;

//       .title-errors {
//         color: red;
//       }
//       .date-errors {
//         color: red;
//       }
//       .category-container {
//         .category-errors {
//           color: red;
//         }
//         select {
//           // padding-left: 30%;
//           font-family: "Neue Plak";
//           font-size: 20px;
//           border-style: none;
//           text-align: center;
//           line-height: 3;
//           margin-bottom: 5%;
//           height: 60px;
//         }
        
//       }
//       div.description-container {
//         .description-errors {
//           color: red;
//         }
//       }
//       div.start-date-container {
//           width: 70%;
//         }

//       div {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
        
//         div {
//           display: flex;
//           flex-direction: row;
//           width: 100%;

//           i {
//             padding: 10px;
//           }
//           h3 {
//             margin-bottom: 10px;
//             padding: 10px;
//             font-family: "Neue Plak";
//             font-size: 30px;
//             font-weight: bold;
//           }
//       }
        
//           p {
//             margin-bottom: 7px;
//             font-weight: lighter;
//           }
//           input {
//             font-family: "Neue Plak";
//             font-size: 20px;
//             border-style: none;
//             text-align: center;
//             line-height: 3;
//             margin-bottom: 5%;
//           }

//           textarea {
//             font-family: "Neue Plak";
//             font-size: 18px;
//             border-style: none;
//             text-align: center;
//           }

//           input:hover {
//             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//             cursor: pointer;
//           }

//           textarea:hover {
//             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//             cursor: pointer;
//           }
        
//       }
//       button {
//         color: lightcoral;
//         width: 30%;
//         line-height: 3;
//       }
//       button:hover {
//         cursor: pointer;
//         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//         background-color: white;
//       }
//     }

//   }
// }