
.edit-form-container {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 30%;
  right: 30%;
  border-style: solid;
  border-width: 0.5px;
  .edit-form {
    width: 100%;
  
    display: flex;
    justify-content: center;
    .event-edit-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        h3 {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          padding: 10px;
          font-family: "Neue Plak";
          font-size: 20px;
          font-weight: bolder;
        }
        div {
          width: 100%;
          i {
            padding: 10px;
          }
          input {
            font-family: "Neue Plak";
            font-size: 20px;
            border-style: none;
            text-align: center;
            line-height: 3;
          }

          textarea {
            font-family: "Neue Plak";
            font-size: 18px;
          }

          input:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }

          textarea:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
      // .title-container {
      //   .title {
          
      //   }
      // }

      // .start-date-container {
      //   .start-date {
      //     input {
      //       line-height: 3;
      //     }
      //   }
      // }

      // .end-date-container {
      //   .end-date {
      //     input {
      //       line-height: 3;
      //     }
      //   }
      // }

      // .description-container {
      //   .desciption {
      //     input {
      //       line-height: 3;
      //     }
      //   }
      // }
    }

  }
}

// .edit-form-container {
//   background-color: darkgrey;
//   display: flex;
//   justify-content: center;
 
//   .edit-form{
//     padding: 20px;
//     background-color: white;
//     display: flex;
//     position: relative;

//     right: 50%;
//     top: 10%;
//     flex-direction: column;
//     justify-content: space-around;
//     height: 100%;
//     width: 200%;
//     align-self: center;
//     div {
//       div {
//         position: relative;
//         display: flex;
//         align-self: center;
//         flex-direction: column;
//         justify-content: center;
//         height: 100%;
//         width: 100%;
//         line-height: 2;
//         .title {
//           display: flex;
//           justify-content: space-between;
//           .event-edit-title {
//             width: 80%;;
//           }
//         }
//       } 
//     }
    
//     h3 {
//       font-weight: 700;
//     }

//   .event-edit-details {
//     // position: relative;

//     // display: flex;
//     // align-self: center;
//     // flex-direction: column;
//     // justify-content: space-around;
//     // height: 100%;
//     // width: 100%;
//     // line-height: 2;
//     input {
//       line-height: 3;
//       border: 1px solid lightgray;
//     }

//     select {
//       border: 1px solid lightgray;
//       height: 45px;
//     }
//     div {
//       textarea {
//         border: 1px solid lightgray;
//       }
//     }
    



//   }
//   button {
//     background-color: white;
//     &:hover {
//       cursor: pointer;
//       background-color: rgb(243, 243, 243);
//     }
//       border: 2px solid lightgray;
//   }
// } 

// }
