.edit-form-container {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
 
  .edit-form{
    padding: 20px;
    background-color: white;
    display: flex;
    position: relative;

    right: 50%;
    top: 10%;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 200%;
    align-self: center;
  h3 {
    font-weight: 700;
  }

  .event-edit-details {
    position: relative;

    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    line-height: 2;
    input {
      line-height: 3;
      border: 1px solid lightgray;
    }

    select {
      border: 1px solid lightgray;
      height: 45px;
    }
    textarea {
      border: 1px solid lightgray;
    }



  }
  button {
    background-color: white;
    &:hover {
      cursor: pointer;
      background-color: rgb(243, 243, 243);
    }
      border: 2px solid lightgray;
  }
} 

}
