// body {
//   display: grid;
// }

.index-header-container {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: rgba(240, 240, 240, 0.918);


    .index-header {
      
      width: 100%;
      height: 100%;
      background-size: 100% 100%, contain;
      background-repeat: no-repeat;

      background-image: image-url('mountains.jpg');
    
  }
  }

.event-index-container {

  background-color: rgba(240, 240, 240, 0.918);

  display: flex;
  position: relative;
  padding: 5%;
  // top: 5%;
  // width: 100%;
  justify-content: center;

  

  .event-index {
    
    justify-content: center;
    grid-auto-flow: row;
    position: relative;
    width: 80%;
    top: 25%;
    
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 330px);

    
  
    a {
      text-decoration: none;
      color: black;
      font: 25px "Neue Plak";
      font-weight: 700;
    }

    .event-index-item-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      color: red;
      a {
        width: 100%;
        height: 40%;
        .event-index-item-image {

        width: 100%;
        height: 100%;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;

        background-image: image-url('outdoor_party.jpg')
      }
      }
      
      .event-index-item {
        position: relative;
        top: 10%;
        padding: 10px;
        align-self: center;
      }
    }

    .event-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    @for $i from 0 through 8 {
          .event-index-item-container[id="#{$i}"] {
            
            justify-self: stretch;
            align-self: stretch;
            color: red;
      }
      }



  }
}