div {
  background-color: rgba(240, 240, 240, 0.918);
  .index-header-container {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: rgba(240, 240, 240, 0.918);


    .index-header {
      
      width: 100%;
      height: 100%;
      background-size: 100% 100%, contain;
      background-repeat: no-repeat;

      background-image: image-url('concert.jpg');
    
  }
}
div{
  
  // background: white;
  // background-color: rgba(240, 240, 240, 0.918);
  .categories-list {
    display: inline;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 30px;
    // background-color: white;
    margin: 0 auto;
    position: absolute;
    left: 5%;
    right: 10%;
    z-index: 5;
    li {
      display: inline;
      // height: 20px;
      border-top: none;
      border-left: none;
      border-right: none;
      margin: 15px;
      font-size: 14px;
      color: #808080;
      &:hover {
        color: #3659E3;;
        cursor: pointer;
      }
      &.active {
        // border-top: none;
        // border-left: none;
        // border-right: none;
        border-style: solid;
        border-color: #3659E3;
        color: #3659E3;
        border-top-color: rgba(240, 240, 240, 0.918);
        border-left-color: rgba(240, 240, 240, 0.918);
        border-right-color: rgba(240, 240, 240, 0.918);
        // border-bottom: #F05537;
        border-radius: 3px;
        // color: #F05537;
        // border-style: solid;
        border-width: 3px;
      }
      // margin-left: 20px;
      // margin-right: 20px;
    }
  }
}
  
  .events-title {
    margin-bottom: 20px;
    padding-top: 30px;
    display: block;
    margin-left: 6%;
    color: rgb(33, 35, 39);
    background-color: rgba(240, 240, 240, 0.918);
    font-family: "Neue Plak";
    font-weight: bold;
    font-size: 30px;
    h1 {
      font-style: italic;
      font-size: 30px;
      color: #F05537;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
.event-index-container {

  background-color: rgba(240, 240, 240, 0.918);

  display: flex;
  position: relative;
  padding: 5%;
  
  justify-content: center;

  

  .event-index {
    display: flex;
    justify-content: center;
    // grid-auto-flow: row;
    position: relative;
    width: 100%;
    top: 25%;
    
    margin: 15px;
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 4fr));
    grid-auto-rows: 330px;
    
  
    a {
      text-decoration: none;
      color: black;
      font: 25px "Neue Plak";
      font-weight: 700;
    }

    .event-index-item-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      color: red;
      min-width: 220px;
      max-width: 300px;
      a {
        width: 100%;
        height: 40%;
        .event-index-item-image {

        width: 100%;
        height: 100%;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;

        background-image: image-url('outdoor_party.jpg')
      }
      }
      
      .event-index-item {
        
        align-items: center;
        background-color: white;
        position: relative;
        top: 10%;
        padding: 10px;
        align-self: center;
        div {
          background-color: white;
          .event-item {
            .like {
              background: none;
              // margin: 10px;
              margin-top: 20px;
              .event-item-info {
                // margin-top: 20px;
                .event-item-dates {
                  // margin-top: 20px;
                  .event-item-starttime{ 
                    // margin-top: 20px;
                  }
                }
                
                display: flex;
                align-items: center;
              }
              button {
                background: none;
                position: absolute;
                top: -60px;
                right: 10px;
                background-color: white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                &:hover {
                  cursor: pointer;
                  background-color:rgba(240, 240, 240, 0.918);
                }
              }
            }
          }
        }
        p {
          background-color: white;
        }
      }
    }

    .event-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    // @for $i from 0 through 4 {
    //       .event-index-item-container[id="#{$i}"] {
            
    //         justify-self: stretch;
    //         align-self: stretch;
    //         color: red;
    //   }
    //   }



  }
}}