div {
  background-color: rgba(240, 240, 240, 0.918);
  .index-header-container {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: rgba(240, 240, 240, 0.918);


    .index-header {
      
      width: 100%;
      height: 100%;
      background-size: 100% 100%, contain;
      background-repeat: no-repeat;

      background-image: image-url('concert.jpg');
    
  }
}
div{
  background-color: rgba(240, 240, 240, 0.918);
  .categories-list {
    margin: 0 auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    li {
      margin-top: 20px;
      &:hover {
        color: #F05537;
        cursor: pointer;
      }
      &.active {
        border-top-color: rgba(240, 240, 240, 0.918);
        border-left-color: rgba(240, 240, 240, 0.918);
        border-right-color: rgba(240, 240, 240, 0.918);
        border-bottom: #F05537;
        border-style: solid;
        border-width: 3px;
      }
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
  
  .events-title {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    left: 10%;
    color: rgb(33, 35, 39);
    background-color: rgba(240, 240, 240, 0.918);
    font-family: "Neue Plak";
    font-weight: bold;
    font-size: 30px;
    h1 {
      font-style: italic;
      font-size: 30px;
      color: #F05537;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
.event-index-container {

  background-color: rgba(240, 240, 240, 0.918);

  display: flex;
  position: relative;
  padding: 5%;
  
  justify-content: center;

  

  .event-index {
    
    justify-content: center;
    grid-auto-flow: row;
    position: relative;
    width: 80%;
    top: 25%;
    
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 330px);

    
  
    a {
      text-decoration: none;
      color: black;
      font: 25px "Neue Plak";
      font-weight: 700;
    }

    .event-index-item-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      color: red;
      a {
        width: 100%;
        height: 40%;
        .event-index-item-image {

        width: 100%;
        height: 100%;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;

        background-image: image-url('outdoor_party.jpg')
      }
      }
      
      .event-index-item {
        background-color: white;
        position: relative;
        top: 10%;
        padding: 10px;
        align-self: center;
        div {
          background-color: white;
        }
        p {
          background-color: white;
        }
      }
    }

    .event-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    @for $i from 0 through 4 {
          .event-index-item-container[id="#{$i}"] {
            
            justify-self: stretch;
            align-self: stretch;
            color: red;
      }
      }



  }
}}