.likes-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    top: 140px;
    margin-left: 450px;
    margin-bottom: 150px;
    left: 5%;
    transform: translateX(-50%);

    h1 {
  
      position: absolute;
      left: -100px;
      top: -70px;
      font: 40px "arial";
    }

    .likes-index-item-container {

      background-color: white;
      position: relative;
      box-shadow: 0px 30px 70px -20px #adacaa;
      max-width: 600;
      width: 100%;
      min-width: 550px;
      height: 150px;
      padding: 30px;
      margin-bottom: 5px;
      border: none;
      display: flex;
      transition: box-shadow .5s ease;
      transition: transform .5s ease;
      &:hover {
        transform: scale(1.05);
        z-index: 0;
        // width: 105%;
        // height: 105%;
        border-style: solid;
        border-color: #ff795f;
        border-width: 1px;
        // box-shadow: none;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .image-div-background {
        max-height: 150px;
        min-height: 140px;
        height: 100%;
        width: 40%;
        max-width: 250px;
        min-width: 200px;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;
        background-image: image-url('entertainment_genre.jpg');
        .likes-index-item-image {
          display: block;
          min-height: 150px;
          height: 100%;
          width: 100%;
          z-index: 5;
          &:hover {
            cursor: pointer;
          }
        }
      }
      
      }
      
      .like-index-item {
        max-width: 250px;
        position: absolute;
        margin-top: 4%;
        left: 280px;
        padding: 10px;
        align-items: center;
        background-color: white;
        a {
          background: none;
          text-decoration: none;
          color: black;
          font-size: 25px;
          // font: 25px "Neue Plak";
          font-weight: 700;
        }
        .event-item-container {
          background-color: white;
          color: grey;
          margin-top: 10px;
          
          .event-item {
            background-color: white;
            display: flex;
            .like {
              
              // background-color: white;
              position: absolute;
              left: 240px;
              top: 30px;

              
                button {
                  position: relative;
                  left: 20px;
                  bottom: 20px;
                  border-radius: 50%;
                  background-color: white;
                  padding: 30px;
                  border: 1px solid #e6e6e6;
                  &:hover {
                    cursor: pointer;
                    border-color: #0000FF;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  }
                  i {
                    color: #f05537;
                  }
                }
            
            }
          }
        }
        p {
          background-color: white;
        }

      }
    }

    .likes-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
