.likes-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    top: 6%;
    left: 50%;
    // right: 30%;
    transform: translateX(-50%);
    

    h1 {
      margin-bottom:5%;
      font: 40px "Neue Plak";
    }

    .likes-index-item-container {

      background-color: white;
      
      // color: lightgrey;
      width: 80%;
      height: 100%;
      padding: 30px;
      border: none;
      // border-width: 1px;
      display: flex;
      &:hover {
        width: 85%;
        height: 105%;
      }
      .image-div-background {
        min-height: 150px;
        height: 100%;
        width: 40%;
        // height: 100%;
        // width: 100%;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;
        background-image: image-url('entertainment_genre.jpg');
        .likes-index-item-image {
          display: block;
          min-height: 150px;
          height: 100%;
          width: 100%;
          z-index: 5;
          &:hover {
            cursor: pointer;
          }
        }
      }
      
      }
      
      .like-index-item {
        max-width: 250px;
        position: absolute;
        margin-top: 4%;
        right: 20%;
        padding: 10px;
        align-items: center;
        background-color: white;
        a {
          background: none;
          text-decoration: none;
          color: black;
          font: 25px "Neue Plak";
          font-weight: 700;
        }
        .event-item-container {
          background-color: white;
          color: grey;
          margin-top: 10px;
          
          .event-item {
            background-color: white;
            display: flex;
            .like {
              background-color: white;
              position: absolute;
              right: -25%;
              top: 50%;
              // padding: 20px;
              
                button {
                  position: relative;
                  left: 20px;
                  bottom: 20px;
                  border-radius: 50%;
                  background-color: white;
                  padding: 20px;
                  border: none;
                  &:hover {
                    cursor: pointer;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  }
                }
            
            }
          }
        }
        p {
          background-color: white;
        }

      }
    }

    .likes-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  
