.event-show-container {
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  .event-show {
    // justify-content: center;
    padding: 3%;
    margin-top: 2%;
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    .event-show-details {
      width: 100%;
      // background-color: white;
      position: relative;
      // left: 70%;
      // top:
      justify-content: center;
      .event-show-image {
        // display: block;
        position: absolute;
        background-color: beige;
        height: 30%;
      }
      .event-show-basic-info {
        padding: 20px;
        position: absolute;
        right: 0%;
        left: 70%;
        height: 30%;
        // width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        background: rgba(0, 0, 0, 0.1);
        .date {
          font: 14px "Neue Plak";
          
          justify-content: start;
        }
        .event-show-title {
          font: "Neue Plak"
        }

        .event-show-category {
          font: 14px "Neue Plak";
        }

      }

      .event-show-title {
        font: 20px "Neue Plak";
        font-weight: bold;
      }

      .event-show-date-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
        // justify-content: ;
        position: absolute;
        top: 50%;
        // bottom: 55%;
        right: 0%;
        left: 70%;
        background-color: white;
        height: 15%;
        .event-show-time {
          // justify-content: end;
          align-self: start;
          font-size: 12px;
        }
      }
      .event-show-other-details {
        position: relative;
        background-color: white;
        top: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        line-height: 2;
        h2 {
          margin-bottom: 20px;
          font-weight: 500;
          // font: 14px ;
        }
        
        
      }
    }
  }
}