.event-show-container {
  background-color: rgba(240, 240, 240, 0.918);
  display: flex;
  justify-content: center;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  .event-show-background {
    
    position: absolute;
    height: 66%;
    width: 100%;
    background-size: 100% 100%, contain;
    background-repeat: no-repeat;

    background-image: url(show-image.jpg);
    filter: blur(8px);
    
  }
  
  .event-show {
    width: 80%;
    font-style: "Neue Plak";
    position: relative;
   
    filter: blur(0);
    padding-bottom: 3%;
    margin-top: 2%;
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    .event-show-details {
      width: 100%;
      position: relative;
      
      justify-content: center;
      .event-show-image {
        position: absolute;
        height: 40%;
        width: 70%;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;

        background-image: url(show-image.jpg)

      }
      .event-show-basic-info {
        // overflow: hidden;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        position: absolute;
        right: 0%;
        left: 70%;
        height: 39.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        background: rgba(0, 0, 0, 0.1);
        .date {
          position: relative;
          font: 14px "Neue Plak";
          display: flex;
          flex-direction: column;
          justify-content: start;
          .month {
            width: 100%;
            justify-content: stretch;
          }
          .day {
            width: 100%;
            justify-content: stretch;
          }
        }
        .event-show-title {
          font: "Neue Plak";
          margin-bottom: 15px;
        }
        .event-show-host {
          font-weight: 200;
          color: #6F7287
        }

        .event-show-category {
          position: relative;
          bottom: 10px;
          font-weight: 250;
          color: #39364F;

        }

      }

      .event-show-title {
        font: 20px "Neue Plak";
        font-weight: bold;
      }

      .event-show-date {
        font-weight: 500;
      }
      .event-show-date-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
        position: absolute;
        top: 50%;
        right: 0%;
        left: 70%;
        background-color: white;
        height: 15%;
        color: #39364F;
        font-size: 14.93333px;
        font-style: "Neue Plak";
        font-weight: 200;
        .event-show-time {
          align-self: start;
          // font-size: 12px;
        }
      }
      .event-show-other-details {
        // overflow: hidden;
        position: relative;
        background-color: white;
        top: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        line-height: 2;
        padding-left: 5%;
        font-weight: 200;
        font-style: "Neue Plak";
        // padding-right:;
        h2 {
          margin-bottom: 20px;
          font-weight: 500;
        }
        
        
      }
    }
  }
}