.event-show-container {
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  // justify-content: ;
  .event-show-background {
    
    position: absolute;
    height: 50%;
    width: 100%;
    background-size: 100% 100%, contain;
    background-repeat: no-repeat;

    background-image: url(show-image.jpg);
    filter: blur(8px);
    
  }
  
  .event-show {
    position: relative;
   
    filter: blur(0);
    padding-bottom: 3%;
    margin-top: 2%;
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    .event-show-details {
      width: 100%;
      position: relative;
      
      justify-content: center;
      .event-show-image {
        position: absolute;
        height: 30%;
        width: 70%;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;

        background-image: url(show-image.jpg)

      }
      .event-show-basic-info {
        // padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        position: absolute;
        right: 0%;
        left: 70%;
        height: 30%;
        // width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        background: rgba(0, 0, 0, 0.1);
        .date {
          font: 14px "Neue Plak";
          
          justify-content: start;
        }
        .event-show-title {
          font: "Neue Plak"
        }

        .event-show-category {
          font: 14px "Neue Plak";
        }

      }

      .event-show-title {
        font: 20px "Neue Plak";
        font-weight: bold;
      }

      .event-show-date-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
        // justify-content: ;
        position: absolute;
        top: 50%;
        // bottom: 55%;
        right: 0%;
        left: 70%;
        background-color: white;
        height: 15%;
        .event-show-time {
          // justify-content: end;
          align-self: start;
          font-size: 12px;
        }
      }
      .event-show-other-details {
        position: relative;
        background-color: white;
        top: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        line-height: 2;
        h2 {
          margin-bottom: 20px;
          font-weight: 500;
          // font: 14px ;
        }
        
        
      }
    }
  }
}