 .signup-input {
   margin-top: 10px;
   margin-left: auto;
   padding: 12px;
   height: 22px;
   width: 155%;
   font-size: 14px;
 }


.split-left-container {
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 100%;
  min-width: 500px;
}
.split-left {
  min-width: 500px;
  display: flex;
  width: 100%;
  height: 100%
}

.signup {
  display: flex;
  // justify-content: space-between;
  height: 100%;
}
.split-right-container {
  
  // position: relative;
  height: 100%;
  width: 55%;
}

.split-right {
  // position: relative;
  background-image: image-url('concert_genre.jpg');
  background-repeat: repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;
}

  .signin-signup {
   display: flex;
   justify-content: space-between;
   background-color: #f05537;
   color: white;
   font-size: 20px;
   border: 1px solid black;
   border-radius: 5px;
 }

.signin-signup-buttons {
   color: white;
   text-decoration: none;
 }

  .login-header {
   font-weight: bold;
   font-size: 40px;
 }

  .header-create-account {
   font-size: 45px;
   font-weight: bold;
 }

 .signin-form-box {
   
   position: relative;
   .signin-form-container {
    display: flex;
    position: relative;
    transform: translate(0, -50%);
  }
}

 .signin-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  flex-direction: column;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  .nav-signup {
    color: #3659E3;
    font-size: 14px;
    text-decoration: none;
    }
 }

 .signup-form-box {
   
   position: relative;
   .signup-form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translate(0, -50%);
  }
}

 .signin-signup-errors {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;

    color: #C5162E;
    position: relative;
    ul {
      li {
        margin-top: 10px;
      }
    }
 }

 .signup-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
 }

  .verybrite-header-login {
   color: #f05537;
 }



 .signin-input {
   margin-left: auto;
   padding: 12px;
   height: 22px;
   width: 90%;
   font-size: 14px;
 }

 .session-submit {
  border: none;
  margin-top: 10px;
  width: 100%;
  background-color: #D1410C;
  padding: 0px 30px 1px;
  height: 40px;
  font: 14px;
  color: white;
 }

 .demo-submit {
  margin-top: 10px;
  width: 100%;
  background-color: #D1410C;
  padding: 0px 30px 1px;
  height: 40px;
  font: 14px;
  color: white;
  border: none;
 }

 .demo-submit:hover {
   cursor: pointer;
   opacity: .8;
 }
 
 .session-submit:hover {
  cursor: pointer;
  opacity: .8;
 }

 .signin-input .inner-text {
  position: relative;
  width: 100%;
 }

 .signup-form-container {
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
 }