 .signup-input {
   margin-top: 10px;
   margin-left: auto;
   padding: 12px;
   height: 22px;
   width: 155%;
   font-size: 14px;
 }


.split-left-container {
  width: 40%;
  height: 100%;
  min-width: 500px;
}
.split-left {
  min-width: 500px;
  display: flex;
  width: 100%;
  height: 100%
}

.signup {
  display: flex;
  justify-content: space-between;
}
.split-right-container {
  // min-width: 520px;
  left: 0;
  position: relative;
  background-image: image-url('entertainment.jpg');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  height: 100%;
  width: 55%;
}

.split-right {
  // min-width: 520px;
  position: relative;
  background-image: image-url('concert_genre.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

  .signin-signup {
   display: flex;
   justify-content: space-between;
   background-color: #f05537;
   color: white;
   font-size: 20px;
  //  font: 20px "Neue Plak";
   border: 1px solid black;
   border-radius: 5px;
 }

.signin-signup-buttons {
   color: white;
   text-decoration: none;
 }

  .login-header {
   font-weight: bold;
   font-size: 40px;
 }

  .header-create-account {
   font-size: 45px;
   font-weight: bold;
 }

 .signin-form-box {
   top: 30%;
   left: 10%;
   position: absolute;
   .signin-form-container {
    left: 30%;
    display: flex;
    position: absolute;
    transform: translate(0, -50%);
  }
}

 .signin-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  flex-direction: column;
  .nav-signup {
    color: #3659E3;
    font-size: 14px;
    text-decoration: none;
    }
 }

 .signup-form-box {
   top: 30%;
   left: 10%;
   position: absolute;
   .signup-form-container {
    height: 100%;
    left: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(0, -50%);
  }
}

 .signin-signup-errors {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    top: 16%;
    left: 10%;
    color: #C5162E;
    position: absolute;
    ul {
      li {
        margin-top: 10px;
      }
    }
 }

 .signup-form {
   display: flex;
   flex-wrap: wrap;
   width: 300px;
 }

  .verybrite-header-login {
   color: #f05537;
 }



 .signin-input {
   margin-left: auto;
   padding: 12px;
   height: 22px;
   width: 90%;
   font-size: 14px;
 }

 .session-submit {
  margin-top: 10px;
  width: 100%;
  background-color: #D1410C;
  padding: 0px 30px 1px;
  height: 40px;
  font: 14px;
  color: white;
 }

 .demo-submit {
    margin-top: 10px;
    width: 100%;
    background-color: #D1410C;
    padding: 0px 30px 1px;
    height: 40px;
    font: 14px;
    color: white;
 }

 .demo-submit:hover {
   cursor: pointer;
   opacity: .8;
 }
 
 .session-submit:hover {
  cursor: pointer;
  opacity: .8;
 }

 .signin-input .inner-text {
  position: absolute;
  width: 100%;
 }