  .registrations-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    
    h1 {
      margin-bottom:5%;
      font: 40px "Neue Plak";
    }

    .registration-index-item-container {

      background-color: white;
      width: 80%;
      height: 100%;
      padding: 30px;
      border: none;
      display: flex;
      // margin-bottom: 30px;
      &:hover {
        width: 85%;
        height: 105%;
      }
      a {
        width: 70%;
        height: 100%;
        margin-right: 40px;
        .registration-index-item-image {
        // background-color: blue;
        width: 250px;
        height: 200px;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;
        background-image: image-url('outdoor_party.jpg')
        }
      }
      
      }
      
      .registration-index-item {
        max-width: 250px;
        position: absolute;
        margin-top: 4%;
        right: 20%;
        padding: 10px;
        align-items: center;
        background-color: white;
        a {
          background: none;
          text-decoration: none;
          color: black;
          font: 25px "Neue Plak";
          font-weight: 700;
        }
        .event-item-container {
          background-color: white;
          color: grey;
          margin-top: 10px;
          
          .event-item {
            background-color: white;
            display: flex;
            color: #f05537;
            .registration {
              background-color: white;
              position: absolute;
              right: -25%;
              top: 50%;
              
                button {
                  position: relative;
                  left: 20px;
                  bottom: 20px;
                  border-radius: 50%;
                  background-color: white;
                  padding: 20px;
                  border: none;
                  &:hover {
                    cursor: pointer;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  }
                  i {
                    color: #f05537;
                  }
                }
            
            }
          }
        }
        p {
          background-color: white;
        }

      }
    }

    .registrations-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  

  
  // .registrations-index {
    
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;
  //   width: 80%;
  //   top: 6%;
  //   left: 50%;
  //   transform: translateX(-50%);
  
  //   h1 {
  //     margin-bottom:5%;
  //     font: 40px "Neue Plak";
  //   }

  //   .registration-index-item-container {
  //     background-color: white;
  //     width: 80%;
  //     height: 100%;
  //     padding: 30px;
  //     border: none;
  //     display: flex;
  //     &:hover {
  //       width: 85%;
  //       height: 105%;
  //     }
  //     a {
  //       width: 70%;
  //       height: 100%;
  //       margin-right: 40px;
  //       .registration-index-item-image {

  //       width: 250px;
  //       height: 200px;
  //       background-size: 100% 100%, contain;
  //       background-repeat: no-repeat;
  //       background-image: image-url('outdoor_party.jpg')
  //       }
  //     }

      
      
      

  //     .registration-index-item {
  //       // max-width: 250px;
  //       background-color: white;
  //       position: relative;
  //       margin-right: 15%;
  //       width: 500px;
  //       .event-item-container {
  //         z-index: 1;
  //         background-color: white;
  //         color: grey;
  //         margin-top: 10px;
  //       }
  //       p {
  //         z-index: 1;
  //         background-color: white;
  //       }
  //     }

  //     .show-buttons-container {
  //       .registration {
  //             // background-color: white;
  //             position: absolute;
  //             // top: 0;
  //               // background-color: white;
  //               // margin: 30px;
  //               button {
  //                 position: absolute;
  //                 right: 0px;
  //                 bottom: 10px;
  //                 // right: 100%;
  //                 // top: 100%;
  //                 // right: 0;
  //                 // top: -80%;
                  
  //                 padding: 30px;
  //                 border: none;
  //                 &:hover {
  //                   cursor: pointer;
  //                   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //                 }
  //               }
            
  //           }
  //     }

  //     .show-buttons-container {
  //         position: absolute;
  //         right: 0;
  //         button {
  //           background-color: white;
  //           border: none;
  //           &:hover {
  //             cursor: pointer;
  //             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //           }
  //         }
  //       }

  //   }

  //   .registration-index-item-container:hover {
  //     cursor: pointer;
  //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  //   }
  // }