// .registration-index-container {

//   background-color: rgba(240, 240, 240, 0.918);

//   display: flex;
//   position: relative;
//   padding: 5%;
  
//   justify-content: center;

  

  .registrations-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-auto-flow: row;
    position: relative;
    width: 60%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  
    a {
      text-decoration: none;
      color: black;
      font: 25px "Neue Plak";
      font-weight: 700;
    }

    .registration-index-item-container {
      padding: 15px;
      margin: 15px;
      background-color: white;
      display: flex;
      // justify-content: space-eve;
      align-items: center;
      color: red;
      width: 80%;
      height: 80%;
      a {
        width: 30%;
        height: 100%;
        margin-right: 40px;
        .registration-index-item-image {

        width: 200px;
        height: 200px;
        background-size: 100% 100%, contain;
        background-repeat: no-repeat;
        background-image: image-url('outdoor_party.jpg')
      }
      }
      
      .registration-index-item {
        position: relative;
        top: 10%;
        padding: 10px;
        align-items: center;
        .event-item-container {
          color: grey;
          margin-top: 10px;
        }
      }
    }

    .registration-index-item-container:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  }
// }